*{
  background-color: silver;
}

.container{
  /*width: 80%;*/
  text-align: center;
  margin: 0 auto;
}

.register, .login{
  display: inline-block;
  height: 350px;
  width: 180px;
  vertical-align: top;
  /*border: 1px solid black;*/
}

  .login{
    margin-left: 45px;
  }
