*{
  background-color: silver;
}

header{
  text-align: right;
  margin: 10px;
}
  header a{
    margin-right: 15px;
  }


footer{
  text-align: right;
  margin: 10px;
  margin-right: 50px;
}

td, th{
  border: 1px solid black;
}
