<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'wishlist/css/styles.css' %}">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{% url 'wishlist:index' %}">Home</a><a href="{% url 'users:signout' %}">Logout</a>
      </header>
      <h1> {{item.name}} </h1>
      <h3>Other users who added this item to their wish list:</h3>
      {% if user.id == item.user.id %}
      <a href="{% url 'wishlist:delete' id=item.id %}">Delete Item</a>
      {% else %}
      <a href="{% url 'wishlist:remove' id=item.id%}"> Remove from my list </a>
      {% endif %}


      {% for review in item.wish.all %}
        {% if user.id != review.id %}
        <!-- <p>{{val.created_at}}</p> -->
        <p>{{review.first_name}}</p>
        {% endif %}


      {% endfor %}

    </div>
  </body>
</html>
